version: "3.8"  # Docker Compose 文件版本

services:
  dufs:  # 服务名称（文件分享服务 Dufs）
    image: sigoden/dufs:latest  # 使用官方 dufs 镜像
    container_name: dufs  # 容器名称
    command: /data -A  # 启动命令：共享 /data 目录，-A 表示允许所有人访问（含读写）
    ports:
      - "5000:5000"  # 端口映射：外部 5000 -> 容器 5000
    volumes:
      - ./data:/data  # 挂载本地 data 文件夹到容器内 /data（共享的目录）
    restart: always  # 容器自动重启策略