services:
  coturn:
    image: coturn/coturn:alpine
    container_name: filesync-coturn
    command:
      - --fingerprint
      - --use-auth-secret
      - --no-multicast-peers
      - --realm=filesync.app
      - --static-auth-secret=sskjdGfLWYm328/eHjVQ1DZBdYC3hf0dyqT5PLZFS6Y=
    ports:
      - "3478:3478/tcp"
      - "3478:3478/udp"
    restart: unless-stopped

  peerjs:
    image: peerjs/peerjs-server:1.1.0-rc.2
    container_name: filesync-peerjs
    ports:
     - 9000:9000
    restart: unless-stopped

  filesync:
    image: poliuscorp/filesync
    container_name: filesync-app
    ports:
     - 8080:80
    environment:
      - SECRET_KEY=sskjdGfLWYm328/eHjVQ1DZBdYC3hf0dyqT5PLZFS6Y=
    restart: unless-stopped