services:
  zdir:  # 服务名称，可以自定义（例如 file-list）
    image: 'helloz/zdir:4'  # 使用的镜像：Zdir 版本4，轻量级目录索引文件浏览器
    container_name: zdir  # 容器名称，方便用 docker 命令管理
    privileged: true  # 给予容器更高权限（部分 NAS 或主机系统需要此权限才能正常挂载目录）
    volumes:  # 数据挂载设置
      - '/opt/zdir/data:/opt/zdir/data'         # 存放 Zdir 的配置文件与数据库
      - '/data/public:/opt/zdir/data/public'    # 公共文件夹映射，可用于访客访问
      - '/data/private:/opt/zdir/data/private'  # 私人文件夹映射，可设置密码保护等
    ports:
      - '6080:6080'  # 端口映射：左边为宿主机端口（浏览器访问用），右边为容器内部端口（Zdir服务端口）
    restart: always  # 自动重启策略：系统重启或容器异常退出时自动重启