services:
  web:   # 定义服务名称
    image: haedlessdev/portnote:latest   # 使用的镜像，来自 Docker Hub，latest 表示最新版本
    container_name: portnote_web
    ports:
      - "3000:3000"   # 左边是宿主机端口(可自定义)，右边是容器端口(固定)
    restart: always   # 自动重启策略：容器异常退出时自动重启
    environment:   # 环境变量配置
      - JWT_SECRET=RANDOM_SECRET   # 安全随机字符串，用于 JWT
      - USER_SECRET=RANDOM_SECRET  # 安全随机字符串，用于用户验证
      - LOGIN_USERNAME=admin	    # 登录用户名
      - LOGIN_PASSWORD=admin  # 登录密码
      - DATABASE_URL=postgresql://postgres:postgres@db:5432/postgres  # 数据库连接地址
    depends_on:   # 服务依赖
      db:   # 依赖数据库服务
        condition: service_started   # 等待数据库服务启动后再启动

  agent:   # 定义服务名称
    image: haedlessdev/portnote-agent:latest   # 使用的镜像，来自 Docker Hub
    container_name: portnote_agent
    restart: always   # 自动重启策略：容器异常退出时自动重启
    environment:   # 环境变量配置
      - DATABASE_URL=postgresql://postgres:postgres@db:5432/postgres   # 数据库连接地址
    depends_on:   # 服务依赖
      db:   # 依赖数据库服务
        condition: service_started   # 等待数据库服务启动后再启动

  db:   # 定义服务名称
    image: postgres:17   # 使用的 PostgreSQL 镜像，版本 17
    container_name: portnote_db
    restart: always   # 自动重启策略：容器异常退出时自动重启
    environment:   # 环境变量配置
      - POSTGRES_USER=postgres   # 数据库用户名
      - POSTGRES_PASSWORD=postgres   # 数据库密码
      - POSTGRES_DB=postgres   # 默认数据库名
    volumes:   # 数据卷挂载配置
      - postgres_data:/var/lib/postgresql/data   # 左边是宿主机数据路径(可自定义)，右边是容器数据库数据路径(固定)

volumes:
  postgres_data:   # 定义数据卷，用于持久化数据库数据