services:
  dockports:
    image: ghcr.io/coracoo/dockports:latest  # 使用最新版本的 dockports 镜像
    container_name: host-dockports           # 容器名称为 host-dockports，便于管理
    network_mode: host                      # 容器使用宿主机网络模式，容器与宿主机共享网络
    volumes:
      - .var/run/docker.sock:/var/run/docker.sock:ro  # 映射宿主机的 Docker 套接字到容器，只读权限
      - ./config:/app/config            # 映射宿主机的配置文件路径到容器内，注意替换实际路径
    environment:
      - DOCKPORTS_PORT=8080                # 设置 dockports 服务的端口，默认为 8080，可根据需要修改避免端口冲突
    restart: always                        # 容器故障后自动重启，确保服务始终可用