version: "3.7"
services:
  tailscale:
    image: tailscale/tailscale:latest  # 使用最新版本的 Tailscale 镜像
    hostname: tailscale  # 设置容器的主机名为 tailscale
    environment:
      - TS_AUTHKEY=‘tskey-your_auth_key’  # Tailscale 的身份验证密钥，就是刚才获取的keys确保容器能够连接到 Tailscale 网络
      - TS_STATE_DIR=/var/lib/tailscale  # 指定 Tailscale 状态文件存储的位置
      - TS_ROUTES=192.168.0.0/24  #这里需要填你飞牛的ip一个网段即可  比如我的飞牛ip是192.168.31.45 我就填192.168.31.0/24
    volumes:
      - ./tailscale:/var/lib/tailscale
    network_mode: "host"  # 使用宿主机的网络堆栈
    cap_add:
      - NET_ADMIN
    restart: always  # 设置容器为自动重启，容器退出时会自动重启