version: '3.8'
services:
  zerotier:
    image: zerotier/zerotier
    container_name: zerotier
    restart: always
    network_mode: host  # 必须是 host 模式，才能加入虚拟网络
    cap_add:
      - NET_ADMIN
      - SYS_ADMIN
    devices:
      - /dev/net/tun  # 允许使用 TUN 设备
    volumes:
      - ./zerotier_data:/var/lib/zerotier-one

volumes:
  zerotier_data: