version: "3.8"

services:
  iptv-api:
    image: guovern/iptv-api:latest
    container_name: iptv-api
    restart: unless-stopped
    ports:
      - "9000:8000"
    volumes:
      - ./config:/iptv-api/config
      - ./output:/iptv-api/output
    environment:
      - APP_HOST=http://0.0.0.0
      - APP_PORT=8000
      - TZ=Asia/Shanghai         # 设置时区为北京时间
      - UPDATE_CRON=0 0 */2 * *  # 每两天凌晨 0 点执行更新