version: "3.8"

services:
  app:
    image: jc21/nginx-proxy-manager:latest
    container_name: npm
    restart: always
    environment:
      TZ: Asia/Shanghai
      DISABLE_IPV6: "true"
    volumes:
      - /share/Container/npm/data:/data
      - /share/Container/npm/letsencrypt:/etc/letsencrypt
    ports:
      - "8981:81"      # NPM面板（仅内网）
      - "8442:80"      # 公网HTTP（非常用端口）
      - "8443:443"     # 公网HTTPS（非常用端口）
    networks:
      - npm-net

  tinyauth:
    image: ghcr.io/steveiliop56/tinyauth:v3
    container_name: tinyauth
    restart: always
    environment:
      - APP_URL=https://l.dib.xx.kg    # 走NPM的8443
      - USERS=system:$$2a$$10$$JLV80EfPldzFixXSwDdtneCI6LoBQg0ivOv9Pn4Mf.lP2AVqUB7va
      - SECRET=vGFhqfiIMPRXcaXclZJsHq33Ki9C8NG4
    networks:
      - npm-net
    ports:
      - "15202:3000"

networks:
  npm-net:
    driver: bridge