version: "3.9"

services:
  caddy:
    container_name: panda-wiki-caddy
    restart: always
    image: chaitin-registry.cn-hangzhou.cr.aliyuncs.com/chaitin/panda-wiki-caddy:2.10-alpine
    cap_add:
      - NET_ADMIN  # <<< 允许容器操作网络
    volumes:
      - ./data/caddy/caddy_config:/config  # <<< Caddy 配置文件挂载
      - ./data/caddy/caddy_data:/data      # <<< Caddy 数据存储挂载
      - ./data/caddy/run:/var/run/caddy    # <<< Caddy 运行时 socket
    environment:
      - CADDY_ADMIN=unix//var/run/caddy/caddy-admin.sock
    network_mode: host  # <<< 使用宿主机网络模式，如果改成自定义网络，需要调整 nginx 和 API 的访问方式

  nginx:
    container_name: panda-wiki-nginx
    depends_on:
      - api
    restart: always
    image: chaitin-registry.cn-hangzhou.cr.aliyuncs.com/chaitin/panda-wiki-nginx:v3.20.0
    ports:
      - "8080:8080"  # <<< ADMIN_PORT，前者宿主机端口，后者容器端口
    volumes:
      - ./data/nginx/ssl:/etc/nginx/ssl  # <<< SSL 证书挂载
    networks:
      panda-wiki:
        ipv4_address: "169.254.15.111"  # <<< 容器固定 IP，可修改但必须在 subnet 范围内

  app:
    container_name: panda-wiki-app
    restart: always
    image: chaitin-registry.cn-hangzhou.cr.aliyuncs.com/chaitin/panda-wiki-app:v3.20.0
    networks:
      panda-wiki:
        ipv4_address: "169.254.15.112"  # <<< 可修改，但不能冲突

  api:
    container_name: panda-wiki-api
    depends_on:
      - postgres
      - nats
      - caddy
      - raglite
    restart: always
    image: chaitin-registry.cn-hangzhou.cr.aliyuncs.com/chaitin/panda-wiki-api:v3.20.0
    volumes:
      - ./data/caddy/run:/app/run  # <<< API 访问 Caddy socket
      - ./data/nginx/ssl:/app/etc/nginx/ssl  # <<< SSL 证书挂载
      - ./data/conf/api:/data  # <<< API 配置挂载
    environment:
      - NATS_PASSWORD=exampleNATSpass       # <<< NATS 密码
      - POSTGRES_PASSWORD=examplePGpass     # <<< PostgreSQL 密码
      - REDIS_PASSWORD=exampleRedisPass     # <<< Redis 密码
      - S3_SECRET_KEY=exampleS3Key123       # <<< MinIO 密钥
      - JWT_SECRET=exampleJWTSecret123      # <<< JWT 秘钥
      - ADMIN_PASSWORD=exampleAdminPass     # <<< 系统管理员密码
      - SUBNET_PREFIX=169.254.15            # <<< 内网子网前缀
    networks:
      panda-wiki:
        ipv4_address: "169.254.15.2"  # <<< API 固定 IP

  consumer:
    container_name: panda-wiki-consumer
    depends_on:
      - nats
      - api
    restart: always
    image: chaitin-registry.cn-hangzhou.cr.aliyuncs.com/chaitin/panda-wiki-consumer:v3.20.0
    environment:
      - NATS_PASSWORD=exampleNATSpass
      - POSTGRES_PASSWORD=examplePGpass
      - REDIS_PASSWORD=exampleRedisPass
      - S3_SECRET_KEY=exampleS3Key123
      - JWT_SECRET=exampleJWTSecret123
    networks:
      panda-wiki:
        ipv4_address: "169.254.15.3"

  postgres:
    container_name: panda-wiki-postgres
    image: chaitin-registry.cn-hangzhou.cr.aliyuncs.com/chaitin/panda-wiki-postgres:17.5
    restart: always
    healthcheck:
      test: ["CMD", "pg_isready", "-U", "panda-wiki", "-d", "panda-wiki"]
      interval: 10s
      timeout: 5s
      retries: 5
      start_period: 10s
    environment:
      - POSTGRES_USER=panda-wiki       # <<< 数据库用户
      - POSTGRES_PASSWORD=examplePGpass  # <<< 数据库密码
      - POSTGRES_DB=panda-wiki         # <<< 数据库名
    volumes:
      - ./data/postgres:/var/lib/postgresql/data  # <<< 数据库数据挂载
    networks:
      panda-wiki:
        ipv4_address: "169.254.15.10"

  redis:
    image: chaitin-registry.cn-hangzhou.cr.aliyuncs.com/chaitin/panda-wiki-redis:7.4.2-alpine
    container_name: panda-wiki-redis
    restart: always
    command: ["redis-server", "--requirepass", "exampleRedisPass", "--appendonly", "yes", "--appendfilename", "appendonly.aof", "--save", "900 1", "--save", "300 10", "--save", "60 10000"]
    volumes:
      - ./data/redis:/data
    networks:
      panda-wiki:
        ipv4_address: "169.254.15.11"

  minio:
    image: chaitin-registry.cn-hangzhou.cr.aliyuncs.com/chaitin/panda-wiki-minio:RELEASE.2025-04-22T22-12-26Z-cpuv1
    container_name: panda-wiki-minio
    restart: always
    command: ["minio", "server", "/data", "--console-address", ":9001"]
    volumes:
      - ./data/minio:/data
    environment:
      - MINIO_ACCESS_KEY=s3panda-wiki    # <<< MinIO 用户名
      - MINIO_SECRET_KEY=exampleS3Key123 # <<< MinIO 密钥
    networks:
      panda-wiki:
        ipv4_address: "169.254.15.12"

  nats:
    image: chaitin-registry.cn-hangzhou.cr.aliyuncs.com/chaitin/panda-wiki-nats:2.11.3-alpine
    container_name: panda-wiki-nats
    restart: always
    command: ["nats-server", "-c", "/etc/nats/nats.conf", "--user", "panda-wiki", "--pass", "exampleNATSpass"]
    volumes:
      - ./data/nats:/data
    networks:
      panda-wiki:
        ipv4_address: "169.254.15.13"

  qdrant:
    image: chaitin-registry.cn-hangzhou.cr.aliyuncs.com/chaitin/panda-wiki-qdrant:v1.14.1
    container_name: panda-wiki-qdrant
    restart: always
    volumes:
      - ./data/qdrant:/qdrant/storage
    environment:
      - QDRANT__SERVICE__API_KEY=exampleQdrantKey123  # <<< Qdrant API Key
    networks:
      panda-wiki:
        ipv4_address: "169.254.15.14"

  crawler:
    image: chaitin-registry.cn-hangzhou.cr.aliyuncs.com/chaitin/panda-wiki-crawler:v0.8.2
    container_name: panda-wiki-crawler
    restart: always
    init: true  # <<< 初始化模式
    environment:
      - S3_ENDPOINT=panda-wiki-minio:9000
      - S3_ACCESS_KEY=s3panda-wiki
      - S3_SECRET_KEY=exampleS3Key123
    networks:
      panda-wiki:
        ipv4_address: "169.254.15.17"

  raglite:
    image: chaitin-registry.cn-hangzhou.cr.aliyuncs.com/chaitin/panda-wiki-raglite:1-3-5
    container_name: panda-wiki-raglite
    restart: always
    volumes:
      - ./data/raglite:/data
    environment:
      - GIN_MODE=release
      - DATABASE_HOST=panda-wiki-postgres
      - DATABASE_USER=panda-wiki
      - DATABASE_PASSWORD=examplePGpass
      - MINIO_HOST=panda-wiki-minio:9000
      - MINIO_USER=s3panda-wiki
      - MINIO_PASSWORD=exampleS3Key123
      - QDRANT_HOST=panda-wiki-qdrant
      - QDRANT_API_KEY=exampleQdrantKey123
    depends_on:
      - postgres
      - minio
      - qdrant
    networks:
      panda-wiki:
        ipv4_address: "169.254.15.18"

networks:
  panda-wiki:
    ipam:
      driver: default
      config:
        - subnet: "169.254.15.0/24"  # <<< 子网，保证容器 IP 在此范围内
